<div class="flex justify-center items-center h-screen">
  <div class="shadow-sm border border-[#44425A] rounded-lg mt-6 max-w-96 p-3 mx-auto">
    <h1 class="text-center text-xl font-bold leading-tight tracking-tight text-[#44425A] md:text-2xl">
      Cambiar contraseña
    </h1>
    <form [formGroup]="formResetPassword" (ngSubmit)="resetPassword()">
      <label class="block mb-2 text-sm text-slate-600 mt-4"></label>
      <input
        class="w-full bg-transparent placeholder:text-slate-400 text-slate-700  text-sm border border-[#44425A] rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
        type="password" formControlName="password" placeholder="Nueva contraseña" />
        <div *ngIf="formResetPassword.controls['password'].invalid && submitted" class="text-red-500 text-sm">
          La contraseña debe tener al menos 8 caracteres.
        </div>
      <label class="block mb-2 text-sm text-slate-600 mt-4"></label>
      <input
        class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-[#44425A] rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
        type="password" formControlName="passwordConfirmed" placeholder="Confirmar nueva contraseña" />
        <div *ngIf="formResetPassword.controls['password'].invalid && submitted" class="text-red-500 text-sm">
          La contraseña debe tener al menos 8 caracteres.
        </div>
      <button type="submit"
        [disabled]="loading" class=" w-full rounded-md bg-primary-600 py-3 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-primary-700 focus:shadow-none active:bg-primary-800 hover:bg-primary-800 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none mt-4">
        {{loading ? 'Actualizando...' : 'Actualizar Contraseña'}}
      </button>
    </form>
  </div>
</div>

