<div data-dialog-target="loginDialog"
  ngClass="flex justify-end items-end disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none pt-4">
  <button type="button">
    <a ngClass="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">
      RECUPERAR CONTRASEÑA</a>
  </button>
</div>


<!-- Modal -->

<form [formGroup]="recoverPasswordForm" (ngSubmit)="sendMail(recoverPasswordForm.get('email')?.value)">
  <div data-dialog-backdrop="loginDialog" data-dialog-backdrop-close="true"
    ngClass="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-[#44425A] bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
    <div data-dialog="loginDialog" ngClass="relative mx-auto w-full max-w-[24rem] rounded-lg overflow-hidden shadow-sm">
      <div class="relative flex flex-col bg-white">
        <div ngClass="relative m-2.5 items-center flex justify-center text-white h-24 rounded-md bg-[#44425A]">
          <h3 class="text-2xl">
            Recuperar contraseña
          </h3>
        </div>
        <div class="flex flex-col gap-4 p-6">
          <div class="w-full max-w-sm min-w-[200px]">
            <label class="block mb-2 text-sm text-slate-600">
              Tu correo
            </label>
            <input type="email" formControlName="email" id="email"
              class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              placeholder="Correo electrónico de recuperación" />
            <div *ngIf="recoverPasswordForm.controls['email'].invalid && submitted" class="text-red-500 text-sm">
              Ingresa un correo válido.
            </div>
          </div>
        </div>
        <div class="p-6 pt-0">
          <button [disabled]="loading"
            ngClass="w-full rounded-md bg-primary-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-primary-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="submit">
            {{ loading ? 'Enviando correo...' : 'Enviar'}}
          </button>
        </div>
      </div>
    </div>
  </div>

</form>
